*{
	margin: 0;
	padding: 0;
}

.montagem{
	width: 80%;
	height: 100vh;
	border: 1px solid black;
	box-sizing: border-box;
	margin: auto;
	float: left;
}

.auxiliar{
	width: 20%;
	height: 100vh;
	box-sizing: border-box;
	float: left;
}

.etapa1{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	display: none;
}

.titulo{
	width: 100%;
	height: 70px;
	border: 1px solid black;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

.massas{
	width: 100%;
	height: 39vh;
	margin: auto;
	padding-top: 25px;
	box-sizing: border-box;
}

.card{
	width: 23%;
	height: 260px;
	box-sizing: border-box;
	margin-left: 7%;
	margin-right: 2%;
	float: left;
}

.imagem{
	width: 70%;
	height: 200px;
	margin: auto;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

img{
	height: 100%;
	width: 100%;
}

.sabor{
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	text-align: center;
	padding: 5px;
}

.preco{
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	text-align: center;
	padding: 5px;
}

.molhos{
	width: 100%;
	height: 38vh;
	margin: auto;
	padding-top: 25px;
	box-sizing: border-box;
}

.botoes{
	width: 50%;
	height: 40px;
	margin: auto;
	border: 1px solid black;
	box-sizing: border-box;
	clear: both;
}

button{
	width: 50%;
	height: 100%;
	float: left;
}

/*Configurações da Segunda Etapa da Montagem*/

.etapa2{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}

.card2{
	width: 15%;
	height: 200px;
	border: 1px solid black;
	box-sizing: border-box;
	float: left;
	text-align: center;
	margin: 10px;
}

.imagem2{
	width: 75%;
	height: 140px;
	border: 1px solid black;
	margin: auto;
	box-sizing: border-box;
}



.sabor2{
	width: 100%;
	height: 30px;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 3px;
}

.preco2{
	width: 100%;
	height: 30px;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 3px;
}

iframe{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}






















