body{
    background-color: #fafafa;
}
/* < IMAGEM BACKGROUND >*/
.text-cardapio{
     color:  rgb(51, 51, 51);
    text-align: center;
    font-size: 2rem;

}
.text-cardapio-2{
     color:  rgb(51, 51, 51);
    text-align: center;
    font-size: 1.5rem;
}

header{
    background:url(../images/banner-cardapio.jpg);
 }

 .str0 {stroke:rgb(255, 193, 84);
    stroke-width:8.47;
}
.fil0 {fill:rgb(255, 193, 84);
}

svg{
    position: absolute;
    bottom: -1;
    margin-top: 2rem;
}
.svg2{
    position: absolute;
    bottom: -600;
}

.container-monte{
    background-color: rgb(255, 193, 84);
    width: 100%;
    background-attachment: fixed;
    height: 46rem;
}

.container-monte img{
    width: 55rem;
    height:400px ;
    margin-left: 23%;
    margin-top: 1rem;
}

.btn-2{
    background-color: #c94848;
    padding: 15px 45px;
    color: rgb(255, 255, 255);
    border-bottom: rgb(255, 255, 255);
    border: none;
    font-size: 1.5rem;
    border-radius: 30px;
    line-height: 20px;
    transition: all 300ms ease-in-out;
    margin-left: 41%;
}
.btn-2:hover{
background-color: #9b3030;
cursor: pointer;
}

.btn-2-cardapio{
    background-color: #c94848;
    padding: 15px 45px;
    color: rgb(255, 255, 255);
    border-bottom: rgb(255, 255, 255);
    border: none;
    font-size: 1.2rem;
    border-radius: 30px;
    line-height: 18px;
    transition: all 300ms ease-in-out;
    margin-left: 21%;
    margin-top: 2rem;
}
.btn-2-cardapio:hover{
background-color: #9b3030;
cursor: pointer;
}


/* Configuração do Menu - NAV*/

.navegacao{
    width: 100%;
    height: 40px;
    padding-top: 13px;
    box-sizing: border-box;
    text-align: center;
}

.bd-cardapio{
    max-width: 1200px;
    margin: auto;
}

.cd-card{
    width: 100%;
    height: 22rem;
    box-sizing: border-box;
    margin: auto;
    clear: both;
    margin-top: 30px;
   border: 1px solid rgb(214, 214, 214);
    transition: all 300ms ease-in-out; 
    background-color: rgb(255, 255, 255); 

}
.cd-card:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.pz-foto{
    width: 40%;
    height: 250px;
    float: left;
    box-sizing: border-box;
}

.foto-pz{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 3rem;
    border-radius: 50%;
   
}

.foto-pz img{
   width: 250px;
    height: 250px;
    transition: all 300ms ease-in-out;  
}

.foto-pz img:hover{
     transform: scale(1.1);
}

.pz-descricao{
    width: 60%;
    height: 250px;
    float: left;
    box-sizing: border-box;
}

.pz-titulo{
    width: 80%;
    height: 50px;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
   
}

.pz-desc{
    width: 80%;
    height: 90px;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    margin-top: 4%;
}

.opt{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 4px;
    box-sizing: border-box;
}

select{
    width: 40%;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 1rem;
       
}

input{
    width: 50%;
    height: 40px;
    margin: auto;
    background-color: white;
    color: black;
    margin-top: 8px;
    border-radius: 10px;
  
}


