*{
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
}

body{
    font-family: 'Century Gothic'; 
}
main section h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    padding: 2rem 0;
}
/* CONTAINER */
.container{
    width: 90%;
    margin: 20px auto 0 auto;

}
/* TEXTO CENTRALIZADO-TITULOS*/
.text-center{
    color: #3d3d3d;
    display: inline-block;
    border-bottom: 4px solid  #c94848;
    padding-bottom: 10px;
    margin-bottom: 1rem;
    text-align: center;
    margin-left: 41rem;
}

/* HEADER */
header{
    position: relative;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 99vh;

}

header::before{
    content: "";
    width: 100%;
    height: 99vh;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.4);
    display: block;

}

.str0 {stroke:#FEFEFE;
    stroke-width:8.47;
}
.fil0 {fill:rgb(255, 255, 255);
}

svg{
    position: absolute;
    bottom: -1;
    margin-top: 2rem;
}
.svg2{
    position: absolute;
    bottom: -600;
}
 /* MENU */
.navbar {
    position: fixed;
    height: 80px;
    line-height: 80px;
    width: 100%;
    transition: all 300ms ease-in-out;
    z-index: 10;  
    margin-top: -4%;
    
}
.navbar .logo {
    padding: 1.7rem .8rem;
   margin-left: 15rem;
   margin-top: -7rem;  
}
.navbar .logo img {
    transition: all .5s ease-in-out;
    width: 100px;
    margin-top: .5%;
}
.navbar ul {
    float:left ;
    margin-left: 12rem;  
}
.navbar ul li {
    display: inline;
}
.navbar ul li a {
    font-size: 1rem;
    padding: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: color 300ms ease-in-out;
}

.navbar ul li a:hover{
    color: #9b3030;
  
border-bottom: 2px solid #9b3030;  
}


.navbar .container-nav {
    margin: 0 10rem;
}

.navbar .container-nav2{
    margin: 0 -12rem;
}
.navbar ul2 {
    float:left ; 
}
/* MENU SCROLL*/
.navbar.scrolling {
    margin-top: -5.2%;
    background: rgb(192, 42, 42);
    position: fixed;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.navbar.scrolling .logo {
    padding: 2rem 1rem;
}
.navbar .logo .img {
    width: 100px;
    margin-top: .5%;
}
.navbar.scrolling .logo img {
    transition: all 300ms ease-in-out;
    width: 68px;
    margin-top: 4.5%;
}
.navbar.scrolling ul li a {
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
}

/* < RESPONSIVE MENU >*/

label[for="bt-menu"]{
    padding: 5px;
    background-color: #9b3030;
    color: #fff;
    font-family: 'Century Gothic';
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-top: -3.8rem;
}

#bt-menu{
    display: none;
    
}

label[for="bt-menu"]{
    display: none;
}

/* < RESPONSIVE MENU >*/
@media(max-width:800px){
    .container-bt{
    width: 100%;
    height: 60px;
    background-color: #9b3030;
    z-index: 1000;
    
}

.container-bt h4{
    color: #fff;
    line-height: 3px;
    font-size: 1.6rem;
    margin-left: 10px;
   
}
    label[for="bt-menu"]{
        display: block;
        margin-left: 88%;
        position: fixed;
        z-index: 1000;
    }
    #bt-menu:checked ~ .navbar{
        margin-left: 0;
    }
    .navbar{
        margin-left: -150%;
        transition: all .4s;
        background-color: #9b3030;
        height: 40rem;   
    }
    .navbar ul li{
        width: 100%;
        float: none;
        display: block;
        margin-left: -115%;
        border-bottom: 1px solid rgb(124, 124, 124);
    }
    .navbar .container-nav2{
        margin-left: 1rem;
        margin-top: 15rem;
    }

    .navbar ul li a:hover{
        color: rgb(112, 51, 51); 
    }
    .navbar .logo{
        margin-top: -70%;  
    }
    .navbar.scrolling{
        background-color: #9b3030;
        height: 40rem;
        
    }

    .navbar.scrolling .container-nav2{
        margin-top: 12rem;
        margin-left: 2rem;
    }
   
}

/* < JUMBOTRON TEXTO DA IMAGEM BACKGROUND>*/
.jumbotron {
    text-align: center;
    color: var(--white);
    z-index: 2;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}
.jumbotron-heading {
    font: 2.6rem/1.5 'Ubuntu';
    margin: 0;
    color: #fff;
}
.jumbotron-text {
    font: 1.7rem/1.5 'Ubuntu';
    margin: 0;
    color: #fff;
}
/* BOTÃO */
.button-page{
    background-color: #c94848;
    padding: 7px 30px;
    color: rgb(255, 255, 255);
    border-bottom: rgb(255, 255, 255);
    border: none;
    font-size: .9rem;
    border-radius: 30px;
    line-height: 20px;
    transition: all 300ms ease-in-out;
}

.button-page:hover{
background-color: #9b3030;
cursor: pointer;
}
