body{
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    margin: 0;
    padding: 0;
    background:rgb(221, 74, 16,.6) url(../images/pezzaria.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 99vh;

}

header::before{
    content: "";
    width: 100%;
    height: 99vh;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(221, 16, 16, 0.4);
    display: block;

}

.str0
{
    stroke:transparent;
    stroke-width:20;
}
 .fil0 {
    fill:none
}
 .fil1 
{
fill:rgb(255, 255, 255)
}


svg{
    position: absolute;
    bottom: -1;
    margin-top: 2rem;

}


 