* {
	font-family: 'Nunito';
}

table {
	width: 60%;
	margin: auto;
	margin-top: 25px;
	margin-left: 100px;

}

form{
	height: 90%;
}

.container-conteudo{
  width: 75%;
  height: 800px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(rgba(0,0,0,.1));
  box-sizing: border-box;
  margin: 50px auto 10px;
}

.container-conteudo > h3{
	width: 90%;
	margin: auto;
	text-align: center;
	color: rgb(192, 21, 21);
	font: bold;
	padding: 4px 0;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

td {
	padding: 5px;
}

.lb {
	width: 40%;
	height: 30px;
	margin-top: 10px;
	box-sizing: border-box;
	color: rgb(80, 80, 80);
	font-weight: 800px;
	text-transform: capitalize;
	font-size: 18px;
	
}

.lb label {
	display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.lb-msg {
	color: #155724;
	font-size: 20px;
	height: 50px;
}

.sucesso {
	background: #a9d8b4;
	border-radius: 10px;
	border: solid 1px #6ebf80;
	height: 50px;
	width: 80%;
	margin-left: 22%;
}

.p {
	text-align: center;
	line-height: 50px;
}

.txt {
	width: 80%;
	height: 2rem;;
	margin-top: 10px;
	box-sizing: border-box;
}

.txt-img {
	width: 100%;
	font-size: 20px;
}

.input-cadastro {
	outline: none;
    display: block;
    background: rgba(182, 182, 182, 0.1);
    width: 115%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: all 300ms ease-in-out;
}

.input-cadastro:focus {
	border: 1.5px solid rgba(190, 13, 13, 0.849);
}
input[type="password"] {
	width: 115%;
}
.btn {
	text-align: center;
}

.btn-cadastro {
	outline: none;
    background: rgba(190, 13, 13, 0.849);
    width: 60%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
	cursor: pointer;
	transition: all 300ms ease-in-out;
	margin-left: 10rem;
}

.btn-cadastro:hover {
	background-color: #ff0000;
	cursor: pointer;
}
