.container-fluid{
    width: 810px;
  left: 50%;
  position: relative;
  margin-left: -405px;
}

.conteudo-fluid{
    width: 800px;
    padding: 20px;
    border: 1px solid #C0C0C0;
}
.navbar{
    width: 100%;
    margin-top: 15px;
}

.navbar.scrolling{
    margin-top: 0%;
    height: 80px;
}


.conteudo{
    width: 75%;
    height: 1000px;
    float: left;
    box-sizing: border-box;
    padding-top: 10%;
    background-color: rgb(248, 250, 251);
    margin-left: 20%;
    padding-top: 15%;
   
}

.conteudo h3{
    color: black;
    margin-top: -3rem;
}

iframe{
    width: 100%;
    height: 1100px;
    margin: auto;
    margin-top: -1.5rem;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    
}

/* FIM DO BODY */

footer{
    clear: both;
}
.navegacao{
    width: 100%;
    height: 40px;
    padding-top: 13px;
    box-sizing: border-box;
}

/* INICIO DO BODY */
body{
    background-color: rgb(248, 250, 251);
    font-family: 'Nunito';
}
.header-user{
    height: 0vh;
   
}


header::before{
    height: 0vh;
}
.user-header{
    height: 100px;
    width: 100%;
    background-color:  rgb(206, 55, 55);
}


/*section{
    width: 98%;
    height: 800px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}*/
 /* INICIO NAVBAR USER */
 .navbar-user {
    position: fixed;
    height: 80px;
    line-height: 80px;
    width: 100%;
    transition: all 300ms ease-in-out;
    z-index: 10;  
    margin-top:1%;
   /* margin-left: 280;*/
    background-color:  rgb(206, 55, 55);
    
}
.navbar-user .logo {
    padding: 1.7rem 1.6rem;
    margin-left: 1px;
    margin-top: -6.7rem;    
}
.navbar-user .logo img {
    /*transition: all .5s ease-in-out;*/
    width: 100px;
    margin-top: .5%;
}
.navbar-user ul {
    margin: 10px;
  display: flex;
  list-style:none;
  padding: -5px;
  justify-content: space-evenly;
}
.navbar-user ul li {
    display: inline;
    min-width: 100px;
}
.navbar-user ul li a {
    padding: .5rem;
    text-decoration: none;
    text-transform: uppercase;
    /*transition: color 300ms ease-in-out;*/
    border-radius: 2px;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
     border-radius: 2px;
     min-width: 100px;
}

.navbar-user ul li a:hover{
    color: #ffffff;
    border-bottom: 3px solid rgb(255, 255, 255); 
   /* transition: all 300ms ease-in-out; */
}


.navbar-user.scrolling {
    margin-top: -.1%;
}

@media screen and (max-width: 1200px)
{
    .navbar-user ul
  {
    flex-wrap: wrap;
	
  }
}

/* MENU SCROLL
.navbar-user.scrolling {
    margin-top: -.1%;
    background-color:  rgb(206, 55, 55);
    box-sizing: border-box;
    width: 85%;
    margin-left: 280;
    position: fixed;
    height: 80px;
    line-height: 80px;
    z-index: 997;
}


.navbar-user.scrolling .logo {
    padding: 1.7rem 1.6rem;
   margin-left: 14rem;
   margin-top: -6.7rem;  
}
.navbar-user .logo .img {
    width: 100px;
    margin-top: .5%;
}
.navbar-user.scrolling .logo img {
   /* transition: all 300ms ease-in-out;
    width: 100px;
    margin-top: -.2%;
}
.navbar-user.scrolling ul{
    float:left ;
    margin-left: 1rem;  

}
.navbar-user.scrolling .ul-2{
    margin: 0 7rem;
}
.navbar-user.scrolling ul li a {
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
     padding: .5rem;
     border-radius: 2px;

}
*/
/*FIM NAVBAR USER*/

/*INICIO NAV LATERAL*/

.nav-lat {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: all 500ms ease-in;
    padding-top: 60px;
    box-sizing: border-box;
    margin-bottom: 200px;
    margin-right: 1%;
    margin-left: -1%;
  }

  .nav-lat p{
    color: white;
}
  
  .nav-lat a {
    padding: 0 !important;
    text-decoration: none;
    font-size: 15px;
    color: rgba(0, 0, 0, .87);
    display: block;
    transition: 0.3s;
    font-weight: 300;
    line-height: 30px;
  }

  
  .nav-lat .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .collapse{
    background-color: rgb(115, 255, 0);
 
  }
  
  .openbtn {
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(206, 55, 55);
    color: white;
    padding: 10px 15px;
    border: none;
    width: 60px;
    height: 100%;
  }
  
  /*.openbtn:hover {
    background-color: #444;
  }*/
  
  #main {
    transition:margin-left .5s;
    padding: 16px;
  }
  
  
  @media screen and (max-height: 450px) {
    .nav-lat {padding-top: 15px;}
    .nav-lat a {font-size: 18px;}
  }



.foto-user{
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.foto-perfil{
    width: 150px;
    height: 100%;
    border-radius: 50%;
}

.nome-user{
    width: 50%;
    height: 40px;
    margin: auto;
    color: rgb(255, 255, 255);
}

.nome-user > a{
    text-decoration: none;
    color: rgb(126, 126, 126);
}
.menu-usuario{
    width: 100%;
    height: 300px;
    color: rgb(99, 99, 99);
    float: left;
}
.menu-icon{
    margin-right: 10%;
    float: left;
    padding-top: 7px;
}

.menu-icon-collapse{
    color:rgb(248, 250, 251);
    padding-top: 40px;
}
.menu-usuario{
    width: 100%;
    height: 20px;
}

.menu-usuario h3{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(87, 87, 87);
    border-bottom: 1.5px solid rgb(65, 65, 65);
    font: bold;
	padding: 4px 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-usuario ul{
    width: 90%;
    height: 280px;
    margin-top: 30px;
    margin: auto;
   
}

.menu-usuario li{
    width: 100%;
    height: 30px;
    float: left;
    margin-top: 20px;
    list-style: none;
    padding: 5px;
    line-height: 30px;
    transition: all 300ms ease-in-out;
    text-align: left;
    margin-right: 16px;
}

.menu-usuario li:hover{
    height: 29px;
    background-color: #eeeeee;
    border-radius:5px;
    transition: all 350ms ease-in-out;
}

.menu-usuario a{
    font-size: 15px;;
    font-weight: 300;
    line-height: 30px;
    height: 30px;
    margin: 0;
    padding: 0 !important;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}



