.navbar{
    width: 100%;
    margin-top: 15px;
}

.container-nav{
    width: 40%;
    float: left;
    margin: 0rem !important;
}

.logo{
    width: 20%;
    float: left;
    padding: 0rem !important;
    margin: 0px !important;
}

.container-nav2{
    width: 40%;
    float: left;
    margin: 0rem;
}

.ul1{
    width: 100%;
}

.ul2{
    width: 100%;
}

.navbar.scrolling{
    margin-top: 0%;
    height: 65px;
}

.navegacao{
    width: 100%;
    height: 40px;
    padding-top: 13px;
    box-sizing: border-box;
}

/* INICIO DO BODY */

body{
    background-color: #DCDCDC;
}

header{
    height: 75vh;
}

header::before{
    height: 75vh;
}

.jumbotron {
    top: 55%;
}

section{
    max-width: 1200px;
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

.nav-lat p{
    color: white;
}

.nav-lat{
    width: 24%;
    height: 800px;
    float: left;
    margin-right: 1%;
    box-sizing: border-box;
    background-color: #B22222;
}

.foto-user{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: auto;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.nome-user{
    width: 50%;
    height: 40px;
    margin: auto;
    color: white;
}

.menu-usuario{
    width: 100%;
    height: 300px;
    color: white;
}

.menu-usuario{
    width: 100%;
    height: 20px;
}

.menu-usuario h3{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    color: black;
    border-bottom: 2px solid black;
}

.menu-usuario ul{
    width: 60%;
    height: 280px;
    margin-top: 30px;
    margin: auto;
}

.menu-usuario li{
    width: 100%;
    height: 30px;
    float: left;
    margin-top: 20px;
    list-style: none;
    padding: 5px;
}

.menu-usuario li:hover{
    height: 29px;
    border-bottom: 1px solid black;
}

.menu-usuario a{
    text-decoration: none;
    color: white;
}

.conteudo{
    width: 75%;
    height: 800px;
    float: left;
    box-sizing: border-box;
    padding-top: 20px;
    background-color: #FAB106;
}

.conteudo h3{
    color: black;
}

iframe{
    width: 90%;
    height: 550px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    background-color: white;
}

/* FIM DO BODY */

/* INICIO DO FOOTER */

footer{
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #FAB106;
}

.cont-footer{
    width: 90%;
    height: 250px;
    margin: auto;
}

.bloco{
    width: 20%;
    height: 200px;
    float: left;
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 35px;
    padding: 10px;
}

.titulo{
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.bl-conteudo{
    text-align: right;
    padding-top: 10px;
}

.ft-logo{
    width: 37%;
    height: 200px;
    float: left;    
    margin-top: 35px;
    box-sizing: border-box;
    padding: 10px;
}

.copyright{
    width: 100%;
    height: 50px;
    padding-top: 15px;
    box-sizing: border-box;
    background-color: #79766F;
}



