.navbar{
    margin-top: 15px;
}

.navbar.scrolling{
    margin-top: 0%;
    height: 65px;
}

.navegacao{
    width: 100%;
    height: 40px;
    padding-top: 13px;
    box-sizing: border-box;
}

/* INICIO DO BODY */

header{
    height: 75vh;
}

header::before{
    height: 75vh;
}

.jumbotron {
    top: 55%;
}

section{
    max-width: 1200px;
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

.nav-lat{
    width: 25%;
    height: 800px;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
}

.foto-user{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: auto;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.nome-user{
    width: 50%;
    height: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.menu-usuario{
    width: 100%;
    height: 300px;
}

.menu-usuario p{
    width: 100%;
    height: 20px;
}

.menu-usuario ul{
    width: 100%;
    height: 280px;
}

.menu-usuario li{
    width: 90%;
    height: 30px;
    float: left;
    list-style: none;
    margin: 10px;
    padding: 5px;
    background-color: #FFE4B5;
}

.conteudo{
    width: 75%;
    height: 800px;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    padding-top: 20px;
}

iframe{
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
}

/* FIM DO BODY */

/* INICIO DO FOOTER */

footer{
    width: 100%;
    height: 300px;
    margin: auto;
    border: 1px solid black;
    margin-top: 20px;
    box-sizing: border-box;
}



